<section class="giscus mx-auto mt-10 w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="iamStephenFang/stephenfang.github.io"
  data-repo-id="MDEwOlJlcG9zaXRvcnkyMzg4NzI1MjU="
  data-category="Blog Post Comments"
  data-category-id="DIC_kwDODjznzc4CcOye"
  data-mapping="og:title"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="zh-CN"
  data-loading="lazy"
  crossorigin="anonymous"
  async></script>
